﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="newuser.aspx.cs" Inherits="newuser" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <asp:Panel ID="Panel1" runat="server" BackColor="LemonChiffon" BorderStyle="Groove" Width="788px">

  Enter Name:
    <asp:TextBox ID="username" runat="server" />
        <br /><br />
   
   user id: <asp:label ID="userid" runat="server" /><br />
    
        <br />
    
        <asp:Button ID="createnewid" runat="server"  OnClick="createnewid_Click" Text="createnewuser" />
    <asp:Button ID="back" runat="server"  OnClick="back_Click" Text="back" />
</asp:Panel>
</asp:Content>


