﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="viewbook.aspx.cs" Inherits="viewbook" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <asp:Panel ID="p1" runat="server" BackColor="LemonChiffon" BorderStyle="Groove" Width="788px">
        <asp:TextBox ID="viewbookingstxtbx" runat="server" TextMode="MultiLine" Width="780px" Rows="10" />


                </asp:Panel>
</asp:Content>



